In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one  1.218550 -0.238109
1    a  two -0.617039 -2.088367
2    b  one -0.902634  1.058960
3    b  two  0.341858 -0.468788
4    a  one -0.893517 -0.305375

In [3]:
gb=df.groupby(by='key1')
gb.sum()

           key2     data1     data2
key1
a     onetwoone -0.292007 -2.631851
b        onetwo -0.560776  0.590172

In [4]:
gb1 = df.groupby(by='key1')[['data1','data2']]
gb1.sum()

         data1     data2
key1
a    -0.292007 -2.631851
b    -0.560776  0.590172