In [1]:
import pandas_datareader as pdr
import yfinance as yf

#yf.pdr_override()
#pdr.get_date_yahoo('AAPL')
yf.download('AAPL')

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
1980-12-12    0.098834    0.099264    0.098834    0.098834  469033600
1980-12-15    0.093678    0.094108    0.093678    0.094108  175884800
1980-12-16    0.086802    0.087232    0.086802    0.087232  105728000
1980-12-17    0.088951    0.089381    0.088951    0.088951   86441600
1980-12-18    0.091530    0.091959    0.091530    0.091530   73449600
...                ...         ...         ...         ...        ...
2025-01-29  239.360001  239.860001  234.009995  234.119995   45486100
2025-01-30  237.589996  240.789993  237.210007  238.669998   55658300
2025-01-31  236.000000  247.190002  233.440002  247.190002  101075100
2025-02-03  228.009995  231.830002  225.699997  229.990005   72896300
2025-02-04  231.380005  231.449997  226.649994  227.199997   13260493

[11127 rows x 5 columns]

In [2]:
#台積電(2330.TW),聯電(2303.TW),聯發科(2454.TW),鴻海(2317.TW)
yf.download('2330.TW')

[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open        Volume
Ticker          2330.TW      2330.TW      2330.TW      2330.TW       2330.TW
Date
2000-01-04    34.085995    34.085995    33.511516    34.085995  200662336736
2000-01-05    34.851898    34.851898    33.702941    34.085988  402466805912
2000-01-06    34.085995    34.851905    34.085995    34.660473  197545715802
2000-01-07    33.128475    33.511522    32.553996    32.937043  235270344752
2000-01-10    34.277435    34.468867    33.511525    34.086003  276171685539
...                 ...          ...          ...          ...           ...
2025-01-20  1120.000000  1135.000000  1120.000000  1125.000000      29834528
2025-01-21  1120.000000  1125.000000  1110.000000  1115.000000      21904213
2025-01-22  1135.000000  1150.000000  1135.000000  1140.000000      42960405
2025-02-03  1070.000000  1075.000000  1060.000000  1065.000000      97946226
2025-02-04  1095.000000  1100.000000  1080.000000  1085.000000      54761544

[6244 rows x 5 columns]