In [35]:
import pandas_datareader.data as pdr
import yfinance as yf

#yf.pdr_override()
#pdr.get_data_yahoo('AAPL')
yf.download('AAPL')

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
1980-12-12    0.098834    0.099264    0.098834    0.098834  469033600
1980-12-15    0.093678    0.094108    0.093678    0.094108  175884800
1980-12-16    0.086802    0.087232    0.086802    0.087232  105728000
1980-12-17    0.088951    0.089381    0.088951    0.088951   86441600
1980-12-18    0.091530    0.091959    0.091530    0.091530   73449600
...                ...         ...         ...         ...        ...
2025-01-29  239.360001  239.860001  234.009995  234.119995   45486100
2025-01-30  237.589996  240.789993  237.210007  238.669998   55658300
2025-01-31  236.000000  247.190002  233.440002  247.190002  101075100
2025-02-03  228.009995  231.830002  225.699997  229.990005   72896300
2025-02-04  232.274994  232.720001  226.649994  227.199997   20657658

[11127 rows x 5 columns]

In [36]:
#台積電(2330.TW),聯電(2303.TW),聯發科(2454.TW),鴻海(2317.TW)
yf.download('2330.TW')

[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open        Volume
Ticker          2330.TW      2330.TW      2330.TW      2330.TW       2330.TW
Date
2000-01-04    34.086006    34.086006    33.511527    34.086006  200662336736
2000-01-05    34.851910    34.851910    33.702952    34.085999  402466805912
2000-01-06    34.086006    34.851917    34.086006    34.660485  197545715802
2000-01-07    33.128464    33.511510    32.553985    32.937032  235270344752
2000-01-10    34.277431    34.468863    33.511521    34.086000  276171685539
...                 ...          ...          ...          ...           ...
2025-01-20  1120.000000  1135.000000  1120.000000  1125.000000      29834528
2025-01-21  1120.000000  1125.000000  1110.000000  1115.000000      21904213
2025-01-22  1135.000000  1150.000000  1135.000000  1140.000000      42960405
2025-02-03  1070.000000  1075.000000  1060.000000  1065.000000      97946226
2025-02-04  1095.000000  1100.000000  1080.000000  1085.000000      54761544

[6244 rows x 5 columns]

In [37]:
all_data={ticker:yf.download(ticker) for ticker in ['2330.TW','2303.TW','2454.TW','2317.TW']}
all_data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

{'2330.TW': Price             Close         High          Low         Open        Volume
 Ticker          2330.TW      2330.TW      2330.TW      2330.TW       2330.TW
 Date
 2000-01-04    34.085987    34.085987    33.511509    34.085987  200662336736
 2000-01-05    34.851910    34.851910    33.702952    34.085999  402466805912
 2000-01-06    34.085987    34.851897    34.085987    34.660466  197545715802
 2000-01-07    33.128460    33.511507    32.553981    32.937028  235270344752
 2000-01-10    34.277424    34.468856    33.511513    34.085992  276171685539
 ...                 ...          ...          ...          ...           ...
 2025-01-20  1120.000000  1135.000000  1120.000000  1125.000000      29834528
 2025-01-21  1120.000000  1125.000000  1110.000000  1115.000000      21904213
 2025-01-22  1135.000000  1150.000000  1135.000000  1140.000000      42960405
 2025-02-03  1070.000000  1075.000000  1060.000000  1065.000000      97946226
 2025-02-04  1095.000000  1100.000000  1080.000000  1085.000000      54761544

 [6244 rows x 5 columns],
 '2303.TW': Price           Close       High        Low       Open     Volume
 Ticker        2303.TW    2303.TW    2303.TW    2303.TW    2303.TW
 Date
 2000-01-04  19.995148  20.163882  19.404573  19.742045  332630460
 2000-01-05  19.910782  19.995148  19.404573  19.573309  292754299
 2000-01-06  19.488943  19.910782  19.404573  19.910782  248928848
 2000-01-07  18.898371  19.151473  18.392164  18.982737  269228882
 2000-01-10  19.404575  19.573312  18.054694  18.054694  380487972
 ...               ...        ...        ...        ...        ...
 2025-01-20  42.750000  42.750000  41.500000  41.549999   47283878
 2025-01-21  42.950001  43.299999  42.400002  42.750000   42221204
 2025-01-22  40.200001  40.549999  39.700001  39.700001  147906733
 2025-02-03  40.500000  41.650002  40.000000  40.200001  112180567
 2025-02-04  40.099998  40.950001  40.099998  40.950001   58225360

 [6244 rows x 5 columns],
 '2454.TW': Price             Close         High          Low         Open     Volume
 Ticker          2454.TW      2454.TW      2454.TW      2454.TW    2454.TW
 Date
 2001-07-23    27.404461    27.404461    27.404461    27.404461     463095
 2001-07-24    29.157509    29.250377    28.421976    28.975482  238341541
 2001-07-25    31.189507    31.189507    29.157511    29.157511   94092605
 2001-07-26    33.310665    33.310665    32.017915    32.296524   64114300
 2001-07-27    33.217804    34.696297    33.032064    34.142790   60369077
 ...                 ...          ...          ...          ...        ...
 2025-01-20  1445.000000  1455.000000  1425.000000  1425.000000    3956489
 2025-01-21  1465.000000  1475.000000  1435.000000  1440.000000    4428280
 2025-01-22  1465.000000  1495.000000  1465.000000  1480.000000    6502859
 2025-02-03  1500.000000  1525.000000  1415.000000  1420.000000   18533177
 2025-02-04  1490.000000  1530.000000  1480.000000  1510.000000    8355642

 [5840 rows x 5 columns],
 '2317.TW': Price            Close        High         Low        Open     Volume
 Ticker         2317.TW     2317.TW     2317.TW     2317.TW    2317.TW
 Date
 1993-01-05    0.399521    0.407075    0.397003    0.399521   33478780
 1993-01-06    0.392806    0.398681    0.389449    0.398681   46846584
 1993-01-07    0.391128    0.398681    0.389449    0.392806   44447315
 1993-01-08    0.379377    0.396163    0.376020    0.396163   43699448
 1993-01-11    0.381895    0.387770    0.378538    0.378538   14068903
 ...                ...         ...         ...         ...        ...
 2025-01-20  178.000000  178.000000  174.500000  174.500000   33266229
 2025-01-21  178.500000  180.000000  177.000000  178.500000   31745824
 2025-01-22  180.000000  181.000000  178.500000  180.500000   43634401
 2025-02-03  165.500000  168.000000  163.500000  164.000000  155112848
 2025-02-04  165.000000  169.000000  165.000000  167.000000   65800307

 [8069 rows x 5 columns]}

In [38]:
for key,data in {'2330':'台積電','2303':'聯電'}.items():
    print(key,data)

2330 台積電
2303 聯電

In [39]:
import pandas as pd
all_data1 = {ticker:df['Volume'] for ticker,df in all_data.items()}
prices_df = pd.DataFrame(all_data1)
prices_df

ValueError: If using all scalar values, you must pass an index

In [ ]:
prices_df.columns = ['台積電','聯電','聯發科','鴻海']
prices_df1 = prices_df.dropna()
prices_df1

In [ ]:
prices_df1.info()

In [ ]:
#對值做搜尋
prices_df1.query('台積電>=500')

In [ ]:
prices_df1.loc['2023-01-01':'2024-01-01']

In [ ]:
prices_df1.loc['2023']

In [ ]:
prices_df1_202305 = prices_df1.loc['2023-05']

In [ ]:
#平均差
prices_pct_change = prices_df1_202305.pct_change()
prices_pct_change

In [ ]:
#差
prices_df1_202305 - prices_df1_202305.shift(1)#今天減往下移一天

In [ ]:
#相關係數
prices_pct_change.corr()

In [ ]:
#自動建立figure
#自動產生Axes
#欄位legend
#索引變為軸

prices_pct_change.plot()