In [1]:
import pandas_datareader as pdr
import yfinance as yf

#yf.pdr_override()
#pdr.get_date_yahoo('AAPL')
yf.download('AAPL')

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
1980-12-12    0.098834    0.099264    0.098834    0.098834  469033600
1980-12-15    0.093678    0.094108    0.093678    0.094108  175884800
1980-12-16    0.086802    0.087232    0.086802    0.087232  105728000
1980-12-17    0.088951    0.089381    0.088951    0.088951   86441600
1980-12-18    0.091530    0.091959    0.091530    0.091530   73449600
...                ...         ...         ...         ...        ...
2025-01-29  239.360001  239.860001  234.009995  234.119995   45486100
2025-01-30  237.589996  240.789993  237.210007  238.669998   55658300
2025-01-31  236.000000  247.190002  233.440002  247.190002  101075100
2025-02-03  228.009995  231.830002  225.699997  229.990005   72896300
2025-02-04  231.380005  231.449997  226.649994  227.199997   13260493

[11127 rows x 5 columns]