In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.934428 -2.730224
1    a  two  0.434020  1.731091
2    b  one -0.199630  0.085171
3    b  two -0.128620  2.238790
4    a  one -0.947731 -0.817348

In [ ]:
#Series.groupby()
s_gb=df['data1'].groupby(by=df['key1'])
len(s_gb)
s_gb.sum()

key1
a    0.420718
b   -0.328250
Name: data1, dtype: float64

In [9]:
s_gb1=df['data1'].groupby(by=[df['key1'],df['key2']])
len(s_gb1)
s2d=s_gb1.sum()
s2d.unstack()

key2       one      two
key1
a    -0.013302  0.43402
b    -0.199630 -0.12862

In [10]:
#Dataframe.groupby()
d_gb = df.groupby(by='key1')
d_gb['data1'].sum()

key1
a    0.420718
b   -0.328250
Name: data1, dtype: float64

In [11]:
#Dataframe.groupby()
s2d1 = df.groupby(by=['key1','key2'])['data1'].sum()
s2d1.unstack()

key2       one      two
key1
a    -0.013302  0.43402
b    -0.199630 -0.12862