In [ ]:
import pandas as pd
df = pd.read_csv('world.csv')
df1 = df.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數'])
df1

In [ ]:
dftw=df1.query('國家=="台灣"')
dftw

In [6]:
dftw2021=dftw.query('日期>="2021-01-01"&日期<"2022-01-01"')
dftw2021

        洲名  國家          日期   總確診數  新增確診數      總人口數
164337  亞洲  台灣  2021-01-01    802      3  23855008
164338  亞洲  台灣  2021-01-02    808      6  23855008
164339  亞洲  台灣  2021-01-03    812      4  23855008
164340  亞洲  台灣  2021-01-04    815      3  23855008
164341  亞洲  台灣  2021-01-05    817      2  23855008
...     ..  ..         ...    ...    ...       ...
164697  亞洲  台灣  2021-12-27  16931     16  23855008
164698  亞洲  台灣  2021-12-28  16950     19  23855008
164699  亞洲  台灣  2021-12-29  16964     14  23855008
164700  亞洲  台灣  2021-12-30  16988     24  23855008
164701  亞洲  台灣  2021-12-31  17029     41  23855008

[365 rows x 6 columns]

In [ ]:
dftw2021.query('新增確診數>=100')

In [9]:
tw_max=int(dftw['新增確診數'].max())
tw_max

128954

In [10]:
dftw.query('新增確診數==@tw_max')

        洲名  國家          日期    總確診數   新增確診數      總人口數
164835  亞洲  台灣  2022-05-14  699824  128954  23855008