In [1]:
import pandas as pd
import numpy as np

frame=pd.DataFrame(np.random.randn(4,3),
             columns=list('bde'),
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北  0.065986  0.493600  0.704970
台中  0.890056 -1.218850  0.272809
台南  0.557423 -0.242888 -0.994570
高雄 -0.732237  2.616603 -0.313965

In [2]:
def formap(value):
    return f'{value:.3f}%'
frame.map(formap)

          b        d        e
台北   0.066%   0.494%   0.705%
台中   0.890%  -1.219%   0.273%
台南   0.557%  -0.243%  -0.995%
高雄  -0.732%   2.617%  -0.314%