In [ ]:
import numpy as np
import pandas as pd

scores = np.random.randint(50,101,size=(50,5))
scores_pd = pd.DataFrame(scores,columns=['國文', '英文', '數學', '地理', '歷史'],index=range(1,51))
scores_pd.index.name="學號"
scores_pd.columns.name="科目"
scores_pd

In [2]:
def call(s):
    min=s.min()
    max=s.max()
    median=s.median()
    return pd.Series([min,max,median],index=['最低分','最高分','中間值'])

scores_pd.apply(call)

科目     國文     英文     數學     地理     歷史
最低分  50.0   50.0   51.0   51.0   50.0
最高分  99.0  100.0  100.0  100.0  100.0
中間值  77.5   74.0   70.0   80.0   86.5

In [ ]:
def call1(s):
    less60=s[s<60]
    return less60.count()

less60_s=scores_pd.apply(call1,axis=1)
scores_pd['不及格科目數']=less60_s
scores_pd