In [7]:
import pandas as pd
import numpy as np

frame=pd.DataFrame(np.random.randn(4,3),
             columns=list('bde'),
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北  0.264192  0.673761  1.659753
台中  0.341457  1.250991  1.162154
台南  0.602433  0.486370  1.369600
高雄  0.745973  0.349839 -0.987401

In [8]:
frame.abs()#傳絕對值

           b         d         e
台北  0.264192  0.673761  1.659753
台中  0.341457  1.250991  1.162154
台南  0.602433  0.486370  1.369600
高雄  0.745973  0.349839  0.987401

In [9]:
import numpy as np
np.abs(frame)

           b         d         e
台北  0.264192  0.673761  1.659753
台中  0.341457  1.250991  1.162154
台南  0.602433  0.486370  1.369600
高雄  0.745973  0.349839  0.987401

In [10]:
frame

           b         d         e
台北  0.264192  0.673761  1.659753
台中  0.341457  1.250991  1.162154
台南  0.602433  0.486370  1.369600
高雄  0.745973  0.349839 -0.987401

In [11]:
frame['b'].max() - frame['b'].min()

np.float64(0.4817800677537444)

In [12]:
def abc(s):
    return s.max()-s.min()
frame.apply(abc)
#假設一個abc的公式，apply(引用他)

b    0.481780
d    0.901152
e    2.647154
dtype: float64

In [13]:
frame.apply(abc,axis=1)

台北    1.395561
台中    0.909534
台南    0.883230
高雄    1.733373
dtype: float64